# shortcuts
alias v="vim"
alias cask="brew cask"
alias dev="cd ~/Development"
alias ..="cd .."
alias bindev="./bin/dev"
alias bd="./bin/dev"

# Repos
alias te="cd ~/Development/TeamEffect"
alias dotfiles="cd ~/dotfiles"

# Misc
alias la="ls -la"

# Tmux
alias tm="tmux"

# Docker
alias dcr="docker-compose run"
alias dc="docker-compose"

# Kamal
alias kaeri="kamal app exec --reuse -i"

# Git commands
alias gcam!="git add . && git commit -am"
alias gaa="git add ."
alias gst="git status"
alias gd="git diff"
alias g="git"
alias gcheck="git checkout"

# Helping with typos
alias brwe="brew"

# Get week number
alias week="date +%V"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Lock the computer - not signoff!
alias lock="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Rails development
alias r="rails"
alias rake:migrate="rake db:migrate"
alias rake:seed="rake db:seed"
alias db:drop="rake db:drop"
alias db:setup="rake db:setup"
alias cop="rubocop"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# List of directories
alias lsd='ls -l | grep "^d"'

# LazyGit
alias lg='lazygit'

# Nvim
alias nv='nvim'

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
  alias "$method"="lwp-request -m '$method'"
done
